:root{
    --stand-up-color: #8df5cf;
    --tv-show-color: #f5ba83;
    --default-color: #566ae0;
    --default-color-lighter: #a0a6e0;
}

body, *{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Calibri Light", serif;
}

/*Styles for color coding different types of events*/
/*repeat non-sense-ly to get higher specificity */
.tv-show.tv-show.tv-show{
    background-color: var(--tv-show-color);
}

.stand-up.stand-up.stand-up{
    background-color: var(--stand-up-color);
}

.calendar
{
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    font-family: "Calibri Light", serif;
}

.calendar .dropdown
{
    display: none;
    position: absolute;
    background-color: #fff;
    color: #1caff6;
    /*todo: change color*/
    text-align: center;
    font-size: 14pt;
    padding: 5px 30px;
    width: 160px;
    left: 0;
    z-index: 2000;
}

.calendar .dropdown .dropdown-item
{
    cursor:pointer;
    opacity: .7;
    transition: .5s opacity;
}

.calendar .dropdown .dropdown-item:hover
{
    opacity: 1;
}

.calendar .years
{
    display:none;
}

.calendar .title
{
    text-align:center;
    font-size:20pt;
}

.calendar .calendar-button
{
    float: left;
    background-color: var(--default-color);
    /*todo: change color*/
    color: white;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    width: 20%;
    cursor: pointer;
    transition: .5s background-color;
}

.calendar .calendar-button:hover{
    background-color: var(--default-color);
/*    todo: change color*/
}

.calendar .year-button
{
    float:right;
}

.calendar .calendar-dates .days .day
{
    float:left;
    width: 12%;
    margin: 1%;
    padding: 1%;
    font-size:13pt;
    text-align:center;
    border-radius: 10px;
    border: solid 1px #ddd;
}

.calendar .calendar-dates .days .day.blank
{
    background-color: white;
    border:none;
}

.calendar .calendar-dates .days .day.selected
{
    background-color: var(--default-color-lighter);
    /*todo: change color*/
    color: white;
    cursor:pointer;
    opacity: .5;
    transition: .5s opacity;
}

.calendar .calendar-dates .days .day:hover
{
    cursor:pointer;
}

.calendar .calendar-dates .days .day.selected:hover
{
    opacity: 1;
}

.calendar .calendar-dates .days .day.label
{
    height: 40px;
    background-color: white;
    color: black;
    border:none;
    font-weight:bold;
}

.clear{
    clear:both;
}

.calendar-table .event-list{
    list-style-type: none;
}
.calendar-table{
    table-layout: fixed;
    width: 70%;
    margin: 10px;
    padding: 20px;
    align-content: center;
    text-align: left;
    align-items: center;
}


.calendar-table .calendar-cell{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    max-height: fit-content;
}

.calendar-table .eventlist-cell{
    vertical-align: top;
    padding-top: 20px;
    padding-left: 10px;
    display: inline-block;
    /*max-height: 340px;*/
    overflow-y: auto;
    align-content: flex-start;
    font-family: "Calibri Light", serif;
    text-align: left;
    scrollbar-gutter: stable;
}

.event-list .event{
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    border-radius: 20px;
    padding: 3px;
    margin: 4px;
    align-content: center;
    text-align: center;
    background-color: var(--default-color);
}

.event-list .event:hover,
.event-title:hover,
.days .label.label.label:hover{
    cursor: default;
}

.event-list .event .event-details{
    padding: 3px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: "Calibri Light", serif;
}

.event-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* black with opacity */
}

.event-modal .event-modal-content .event-modal-header {
    padding: 2px 16px;
    color: white;
    background-color: var(--default-color);
}


.event-modal .event-modal-content .event-modal-body {
    padding: 2px 16px;
}

.event-modal .event-modal-content .event-modal-body .event-modal-location {
    font-style: italic;
}

.event-modal .event-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close-button {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    .calendar{
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        left: 0;
    }
}